<!DOCTYPE HTML>

<html>
	<head>
		<title>Favstock</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="static/assets/css/main.css" />

		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body >
			<div id="wrapper">
					<section id="main">
						<header>
							
							<h1>Fav Stock</h1>
						</header>
					
						<hr />
						<form class="form" method="POST" >
							<div class="field">
								<input type="text" name="stockname" id="stockname" placeholder="Stock Name" />
							</div>
							<div class="field">
								<input type="text" name="companyname" id="companyname" placeholder="Company Name" />
							</div>
							<div class="field">
								<input type="text" name="phone" id="phone" placeholder="Phone Number" />
							</div>

							<ul class="actions">
								<button type="submit">REGISTER</button>
							</ul>
						</form>
						<hr />
					
					</section>

					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Favstock</li>
						</ul>
					</footer>

			</div>
			

	</body>
</html>